In [8]:
import psycopg2
import pandas as pd

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname="real_estate_proj_3",
    user="postgres",        # <--------------- READ THIS
    password="postgres",    # <--------------- READ THIS
    host="localhost",
    port="5432"
)

In [9]:
# Write your SQL query
household_query = "SELECT * FROM households;"
real_estate_query = "SELECT * FROM real_estate;"

# Execute the query and load the results into a DataFrame
household_df = pd.read_sql_query(household_query, conn)
real_estate_df = pd.read_sql_query(real_estate_query, conn)

/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_2488/3461694898.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  household_df = pd.read_sql_query(household_query, conn)
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_2488/3461694898.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  real_estate_df = pd.read_sql_query(real_estate_query, conn)

In [40]:
household_df = household_df.dropna()
household_df = household_df[household_df['year'] == 2018]

In [41]:
real_estate_df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size
0,78477.0,for_sale,225000.0,3.0,1.0,3.93,1004268.0,Willington,Connecticut,6279,1572.0
1,41767.0,for_sale,579900.0,4.0,3.0,2.34,985290.0,Coventry,Connecticut,6238,3320.0
2,91020.0,for_sale,215000.0,2.0,1.0,0.91,1062364.0,East Windsor,Connecticut,6016,960.0
3,10585.0,for_sale,144900.0,2.0,1.0,0.36,765673.0,Vernon,Connecticut,6066,860.0
4,30125.0,for_sale,174900.0,3.0,2.0,0.19,1128958.0,Manchester,Connecticut,6040,1280.0
...,...,...,...,...,...,...,...,...,...,...,...
79603,53060.0,sold,385000.0,4.0,3.0,3.30,1470511.0,Swedesboro,New Jersey,8085,3335.0
79604,45045.0,sold,169999.0,2.0,2.0,0.08,1008570.0,Penns Grove,New Jersey,8069,1049.0
79605,30807.0,sold,199500.0,6.0,3.0,0.13,1645962.0,Penns Grove,New Jersey,8069,2483.0
79606,53060.0,sold,199000.0,3.0,2.0,0.52,1637543.0,Pennsville,New Jersey,8070,1844.0
79607,81634.0,sold,169900.0,2.0,2.0,0.16,114987.0,Pennsville,New Jersey,8070,1036.0

In [42]:
household_df['zip_code'] = household_df['zip']
real_estate_df['zip_code'] = pd.to_numeric(real_estate_df['zip_code'], errors='coerce')
real_estate_df['zip_code'] = real_estate_df['zip_code'].astype(int)
household_df['zip_code'] = household_df['zip_code'].astype(int)

In [43]:
merged_df = pd.merge (household_df, real_estate_df, on = "zip_code", how = "inner")

In [44]:
merged_df

,zip,geography,Geographic Area Name,households,Households Margin of Error,Households Household Income in the Past 12 Months,year,zip_code,brokered_by,status,price,bed,bath,acre_lot,street,city,state,house_size
0,6001,8600000US06001,ZCTA5 06001,7112.0,222.0,28.1,2018,6001,10571.0,for_sale,514900.0,4.0,3.0,3.22,236650.0,Avon,Connecticut,2500.0
1,6001,8600000US06001,ZCTA5 06001,7112.0,222.0,28.1,2018,6001,10571.0,for_sale,549900.0,4.0,3.0,1.70,307568.0,Avon,Connecticut,2700.0
2,6001,8600000US06001,ZCTA5 06001,7112.0,222.0,28.1,2018,6001,91793.0,for_sale,599900.0,4.0,5.0,2.02,1259869.0,Avon,Connecticut,5991.0
3,6001,8600000US06001,ZCTA5 06001,7112.0,222.0,28.1,2018,6001,22611.0,for_sale,514900.0,4.0,3.0,0.96,243133.0,Avon,Connecticut,2500.0
4,6001,8600000US06001,ZCTA5 06001,7112.0,222.0,28.1,2018,6001,107912.0,for_sale,1250000.0,4.0,7.0,2.25,956807.0,Avon,Connecticut,7422.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79552,14905,8600000US14905,ZCTA5 14905,3853.0,232.0,28.9,2018,14905,53582.0,for_sale,104500.0,3.0,2.0,0.20,1609159.0,Elmira,New York,1674.0
79553,14905,8600000US14905,ZCTA5 14905,3853.0,232.0,28.9,2018,14905,53582.0,for_sale,159900.0,2.0,2.0,0.16,46795.0,Elmira,New York,1662.0
79554,14905,8600000US14905,ZCTA5 14905,3853.0,232.0,28.9,2018,14905,53582.0,for_sale,189000.0,3.0,2.0,0.20,794827.0,Elmira,New York,2030.0
79555,14905,8600000US14905,ZCTA5 14905,3853.0,232.0,28.9,2018,14905,53582.0,for_sale,60000.0,8.0,2.0,0.20,1191382.0,Elmira,New York,3480.0
79556,18064,8600000US18064,ZCTA5 18064,9584.0,385.0,31.5,2018,18064,106791.0,for_sale,850000.0,3.0,4.0,1.07,229307.0,Pennsylvania,New Jersey,4416.0